
examples/1mb_l1/rtl/bin/*
examples/1mb_l1/rtl/*.vcd
examples/1mb_l1/model/bin/*
examples/1mb_l1/model/obj/*
examples/1mb_l1/model/lib/*
examples/1mb_l1/fpga/board/*
examples/1mb_l1/fpga/db/*
examples/1mb_l1/fpga/incremental_db/*
examples/1mb_l1/fpga/output_files/*
examples/1mb_l1/fpga/simulation/*
examples/1mb_l1/fpga/timing/*
